<!DOCTYPE html>
{% extends "basic_app/base.html" %}
    {% block body_block%}

    <br><br><br><br><br><br>
    <div class="container">


      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Mission  <span class="text-muted">  See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="hdata:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAARVBMVEX/pQD/ogD/0X3/oAD/1Yz/25v/4Kv/5bj/0oH/nQD/8tn/znT/5bn/z3j/3qT/2JT/1o7//vz/+fP/9OT/7c//6sj/47KDuzL9AAABfElEQVR4nO3dS0pDQRBA0ZeY34vR+Iv7X6oRnIgDQ0DkdO5ZQNGXmhb09Pzyun87nQ7bw/vmbP3luPpmebXd6lfH9QUeN5fY/rCf3uf57neL610w/Q/N99PmbhrZYnkDhY/DF64rtFXoq9BXoa9CX4W+c+Fx+MJVhbYKfRX6KvRV6KvQV6GvQl+Fvgp9Ffoq9FXoq9BXoa9C300ULhf//Yg/VaGvQl+Fvgp9Ffoq9FXoq9BXoa9CX4W+Cn0V+ir0Veir0Fehr0Jfhb5z4W74wvEvhirEVeir0Fehr0Jfhb4KfRX6KvRV6KvQV6GvQl+Fvgp9Ffoq9FXoq9B3E4VPwxeO/89MhbgKfRX6KvRV6KvQV6GvQl+Fvgp9Ffoq9FXoq9BXoa9CX4W+Cn3nwk2Ftgp9Ffoq9FXoq9BXoa9CX4W+Cn0V+ir0Veir0Fehr0Jfhb4KfTdRuB2+8DB84fg7rBBXoa9CX4W+Cn0V+ir0fRbOi5HND9P+fjmyh+0H+QASlhqychUAAAAASUVORK5CYII=" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Vision <span class="text-muted"> </span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="http://www.clker.com/cliparts/p/w/s/A/V/6/green-square-md.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">
    </div>


    {% endblock %}
