<!DOCTYPE html>
{% extends "basic_app/base.html" %}
    {% block body_block %}


    <div class="container">


    <br><br><br><br><br><br>

    <div class="container">
      <h1>Connect</h1>
      <p>I’m excited to meet you where you are. </p>

    </div>
<br><br>

  <div class="container">
    <form class="form-inline">
      <div class="form-group">
        <label for="exampleInputName2">Name</label>
        <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
      </div>
      <br><br>
      <textarea class="form-control" rows="5" cols="80"></textarea>

      <br><br>
      <button type="submit" class="btn btn-success contactsubmit">Submit</button>

    </form>
  </div>

  <br><br><br><br><br>
  <p>Phone 717-713-8602</p>
  <p>Email mindfulschmidt@gmail.com</p>

</div>


    {% endblock %}
